{% extends 'base.html'%}
<!-- COMMENTS TO LOAD STATIC FILES -->
{% load static %}
<!-- COMMENTS FOR TIRLES -->
{% block title %} Registration {% endblock title %}
<!-- COMMENTS TO LOAD CONTENTS -->
{% block content %}
<!-- COMMENTS CONTENTS DETAILS -->

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="auth-logo text-center bg-info position-relative">
              <div class="img-overlay"></div>
              <div class="position-relative pt-3 py-3 mb-1">
                <h4 class="text-white">Create Account</h4>
              </div>
            </div>
            <div class="card-body position-relative">
              <form class="form-horizontal" action="#" method="POST" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username_id"
                    name="username"
                    {%
                    if
                    form.is_bound
                    %}
                    {%
                    endif
                    %}
                    placeholder="Enter username"
                  />
                  <strong class="text text-danger"
                    >{{form.username.errors}}</strong
                  >
                </div>
                <div class="mb-3">
                  <label for="useremail">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email_id"
                    name="email"
                    placeholder="Enter email"
                    {%
                    if
                    form.is_bound
                    %}
                    {%
                    endif
                    %}
                  />
                  <strong class="text text-danger"
                    >{{form.email.errors}}</strong
                  >
                </div>

                <div class="mb-3">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password_id"
                    name="password"
                    placeholder="Enter password"
                  />
                  <strong class="text text-danger"
                    >{{form.password.errors}}</strong
                  >
                </div>

                <div class="mb-3">
                  <label for="confirmpassword">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="confirmpassword_id"
                    name="confirm_password"
                    placeholder="Confirm  password"
                  />
                  <strong class="text text-danger"
                    >{{form.confirm_password.errors}}</strong
                  >
                </div>

                <div class="mt-4">
                  <button
                    class="btn btn-primary w-100 waves-effect waves-light"
                    type="submit"
                  >
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
